{{>partial_header}}

using System;
using System.Globalization;
using System.Text;
using {{packageName}}.Client.Calls;

namespace {{packageName}}.Client
{
  /// <summary>
  ///   API Exception
  /// </summary>
  public class ApiException : Exception
  {
    /// <summary>
    ///   Initializes a new instance of the <see cref="ApiException" /> class.
    /// </summary>
    /// <param name="message">Error message.</param>
    public ApiException(string message) : base(message)
    {
      ErrorTime = DateTime.Now;
    }

    /// <summary>
    ///   Initializes a new instance of the <see cref="ApiException" /> class.
    /// </summary>
    /// <param name="message">Error message.</param>
    /// <param name="apiCall">API call.</param>
    public ApiException(string message, ApiCall apiCall) : base(message)
    {
      if (apiCall?.ApiResponse != null)
        ErrorCode = (int) apiCall.ApiResponse.StatusCode;
      ErrorTime = DateTime.Now;
      ApiCall = apiCall;
    }

    /// <summary>
    ///   Initializes a new instance of the <see cref="ApiException" /> class.
    /// </summary>
    /// <param name="message">Error message.</param>
    /// <param name="apiCall">API call.</param>
    /// <param name="errorCode">Error code</param>
    public ApiException(string message, ApiCall apiCall, int errorCode) : base(message)
    {
      ErrorCode = errorCode;
      ErrorTime = DateTime.Now;
      ApiCall = apiCall;
    }

    /// <summary>
    ///   Initializes a new instance of the <see cref="ApiException" /> class.
    /// </summary>
    /// <param name="message">Error message.</param>
    /// <param name="innerException">Inner exception</param>
    public ApiException(string message, Exception innerException) : base(message, innerException)
    {
      ErrorTime = DateTime.Now;
    }

    /// <summary>
    ///   Initializes a new instance of the <see cref="ApiException" /> class.
    /// </summary>
    /// <param name="message">Error message.</param>
    /// /// <param name="innerException">Inner exception</param>
    /// <param name="apiCall">API call.</param>
    public ApiException(string message, Exception innerException, ApiCall apiCall) : base(message, innerException)
    {
      if (apiCall?.ApiResponse != null)
        ErrorCode = (int) apiCall.ApiResponse.StatusCode;
      ErrorTime = DateTime.Now;
      ApiCall = apiCall;
    }

    /// <summary>
    ///   The time at which this exception has been created
    /// </summary>
    public DateTime ErrorTime { get; }

    /// <summary>
    ///   Gets or sets the error code (HTTP status code)
    /// </summary>
    /// <value>The error code (HTTP status code).</value>
    public int ErrorCode { get; set; }

    /// <summary>
    ///   The failed api call
    /// </summary>
    public ApiCall ApiCall { get; }

    /// <summary>
    ///   Additional diagnostic information
    /// </summary>
    public string DiagnosticInformation { get; private set; }

    /// <summary>
    ///   Returns a description of the error occurred
    /// </summary>
    /// <returns>string</returns>
    public override string ToString()
    {
      if (ApiCall?.ApiClient?.Configuration != null && !ApiCall.ApiClient.Configuration.VerboseExceptions)
        return base.ToString();

      var sb = new StringBuilder();
      sb.AppendLine(base.ToString());
      sb.AppendLine("===System===");
      sb.AppendLine(DiagnosticInfo.Instance().ToString());
      if (ApiCall != null)
      {
        sb.AppendLine("===API Call===");
        sb.AppendLine(ApiCall.ToString());
      }

      sb.AppendLine("Error Time: " + ErrorTime.ToString("dd/MM/yyyy HH:mm:ss.fff", CultureInfo.InvariantCulture));
      return sb.ToString();
    }
  }
}