{{>partial_header}}

using System;
using System.Text;
using {{packageName}}.Client.Authentication;

namespace {{packageName}}.Client
{
  /// <summary>
  ///   Represents a set of configuration settings
  /// </summary>
  [Serializable()]
  public class Configuration
  {
    /// <summary>
    ///   Initializes a new instance of the <see cref="Configuration" /> class with default settings
    /// </summary>
    public Configuration()
    {
    }

    /// <summary>
    ///   Initializes a new instance of the <see cref="Configuration" /> class with custom settings
    /// </summary>
    /// <param name="userAgent">HTTP user agent</param>
    /// <param name="timeoutMs">HTTP connection timeout (in milliseconds)</param>
    /// <param name="retryCount">Number of retries for failing requests</param>
    /// <param name="verboseExceptions">Include extra information useful for debugging api calls in exceptions</param>
    /// <param name="pipelining">Enable request pipelining</param>
    /// <param name="authenticationProvider">Authentication provider</param>
    public Configuration(
      string userAgent = "Swagger-Codegen/{{packageVersion}}/csharp",
      uint timeoutMs = 60 * 60 * 1000, // 1 hour
      uint retryCount = 10,
      bool verboseExceptions = true,
      bool pipelining = false,
      AuthenticationProvider authenticationProvider = null)
    {
      UserAgent = userAgent;
      TimeoutMs = timeoutMs;
      RetryCount = retryCount;
      VerboseExceptions = verboseExceptions;
      Pipelining = pipelining;
      AuthenticationProvider = authenticationProvider ?? new Unauthenticated();
    }

    /// <summary>
    ///   Returns a string representation of the configuration, for debugging
    /// </summary>
    public override string ToString()
    {
      var sb = new StringBuilder();
      sb.AppendLine("Timeout (ms): " + TimeoutMs);
      sb.AppendLine("RetryCount: " + RetryCount);
      sb.AppendLine("VerboseExceptions: " + VerboseExceptions);
      sb.AppendLine("Pipelining: " + Pipelining);
      sb.AppendLine("AuthenticationProvider: " + AuthenticationProvider);
      return sb.ToString();
    }

    #region Properties
    /// <summary>
    ///   Gets the UserAgent
    /// </summary>
    public string UserAgent { get; set; } = "Swagger-Codegen/{{packageVersion}}/csharp";

    /// <summary>
    ///   Gets or sets the HTTP timeout (milliseconds) of ApiClient. Default to 100000 milliseconds.
    /// </summary>
    public uint TimeoutMs { get; set; } = 60 * 60 * 1000;

    /// <summary>
    ///   Gets or sets the number of retries for failing requests.
    /// </summary>
    /// <value>The number of retries.</value>
    public uint RetryCount { get; set; } = 10;

    /// <summary>
    ///   Gets or sets whether VerboseExceptions is enabled or not .
    /// </summary>
    /// <value>Whether verboseExceptions is enabled or not.</value>
    public bool VerboseExceptions { get; set; } = true;

    /// <summary>
    ///   Gets or sets the usage of pipelining.
    /// </summary>
    /// <value>Http user agent.</value>
    public bool Pipelining { get; set; } = false;

    /// <summary>
    ///   Gets or sets the AuthenticationProvider
    /// </summary>
    public AuthenticationProvider AuthenticationProvider { get; set; } = new Unauthenticated();

    #endregion Properties

    public override int GetHashCode() => (UserAgent, TimeoutMs, RetryCount, VerboseExceptions, Pipelining, AuthenticationProvider).GetHashCode();
    public override bool Equals(object obj) => this.Equals(obj as Configuration);
    public bool Equals(Configuration p)
    {
        if (p is null)
        {
            return false;
        }

        if (Object.ReferenceEquals(this, p))
        {
            return true;
        }

        if (this.GetType() != p.GetType())
        {
            return false;
        }

        return (UserAgent == p.UserAgent) &&
               (TimeoutMs == p.TimeoutMs) &&
               (RetryCount == p.RetryCount) &&
               (VerboseExceptions == p.VerboseExceptions) &&
               (Pipelining == p.Pipelining) &&
               (
                 (AuthenticationProvider == p.AuthenticationProvider) ||
                 (AuthenticationProvider != null && AuthenticationProvider.Equals(p.AuthenticationProvider))
               );
    }
  }

}
