{{>partial_header}}

namespace {{packageName}}.Client
{
  /// <summary>
  ///   Represents a set of configuration settings
  /// </summary>
  public class UnitTestConfiguration : Configuration
  {
    public bool AllRequestsHaveRetryableErrors { get; set; }

    public bool NextRequestHasRetryableError { get; set; }

    public bool NextRequestHasReceiveError { get; set; }
  }
}