{{>partial_header}}

using {{packageName}}.Client;
using Newtonsoft.Json.Linq;

namespace {{packageName}}.Model
{
  public static class Data
  {
    internal static T Parse<T>(JObject rawObject)
    {
      if (typeof(T) == typeof(JObject))
        return (T) (object) rawObject;
      throw new ApiException("Unsupported return type " + typeof(T).Name);
    }
  }
}