{{>partial_header}}

using System.Collections.Generic;
using Newtonsoft.Json.Linq;

namespace {{packageName}}.Model
{
  public interface ISequence<out T> : IReadOnlyList<T>
  {
    JObject Metadata { get; }
  }
}
