{{>partial_header}}

using System.Collections.Generic;
using Newtonsoft.Json.Linq;

namespace {{packageName}}.Model
{
  public interface IStream<out T> : IEnumerable<T>
  {
    JObject Metadata { get; }
  }
}