{{>partial_header}}
using System;
using System.Linq;
using System.IO;
using System.Text;
{{^netStandard}}
using System.Text.RegularExpressions;
{{/netStandard}}
using System.Collections;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Runtime.Serialization;
using Newtonsoft.Json;
using Newtonsoft.Json.Converters;
{{#models}}
{{#model}}
{{#discriminator}}
using JsonSubTypes;
{{/discriminator}}
{{/model}}
{{/models}}
{{^netStandard}}
{{#generatePropertyChanged}}
using PropertyChanged;
using System.ComponentModel;
{{/generatePropertyChanged}}
using System.ComponentModel.DataAnnotations;
{{/netStandard}}
using SwaggerDateConverter = {{packageName}}.Client.SwaggerDateConverter;

{{#models}}
{{#model}}
namespace {{packageName}}.{{modelPackage}}
{
{{#isEnum}}{{>src/Model/modelEnum}}{{/isEnum}}{{^isEnum}}{{>src/Model/modelGeneric}}{{/isEnum}}
{{/model}}
{{/models}}
}
