    /// <summary>
    /// {{^description}}Defines {{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
    /// </summary>
    {{#description}}
    /// <value>{{description}}</value>
    {{/description}}
    {{#allowableValues}}{{#enumVars}}{{#@first}}{{#isString}}
    [JsonConverter(typeof(StringEnumConverter))]
    {{/isString}}{{/@first}}{{/enumVars}}{{/allowableValues}}
    enum {{#datatypeWithEnum}}{{.}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}{{#vendorExtensions.x-enum-byte}}: byte{{/vendorExtensions.x-enum-byte}}
    {
        {{#allowableValues}}{{#enumVars}}
        /// <summary>
        /// Enum {{name}} for value: {{#value}}{{{value}}}{{/value}}{{^value}}null{{/value}}
        /// </summary>
        {{#isString}}[EnumMember(Value = {{#value}}"{{{value}}}"{{/value}}{{^value}}null{{/value}})]{{/isString}}
        {{name}}{{^isString}} = {{#value}}{{{value}}}{{/value}}{{^value}}null{{/value}}{{/isString}}{{#isString}} = {{@index_1}}{{/isString}}{{^@last}},
        {{/@last}}{{/enumVars}}{{/allowableValues}}
    }{{! NOTE: This model's enumVars is modified to look like CodegenProperty}}
