{{>partial_header}}

import re

import warnings
from typing import Optional, Any, Union
from decimal import Decimal
from {{packageName}}.client.api_client import ApiClient
from {{packageName}}.configuration import Configuration
from {{packageName}}.api.api_base import ApiBase
from {{packageName}}.client.api_call import ApiCallSingleton, ApiCallObjectList, ApiCallObjectStream
from {{packageName}}.client.api_exception import ApiException
from {{packageName}}.client.api_request import ApiRequest
from {{packageName}}.models.sequences import IStreamedSequence, ISequence


{{#operations}}
class {{classname}}(ApiBase):
    def __init__(self, base_path: str, configuration: Configuration = None):
        super().__init__(base_path, configuration)
{{#operation}}

    def __{{operationId}}_build_request(self{{#allParams}}, {{paramName}}: {{{dataType}}}{{/allParams}}) -> ApiRequest:
{{#allParams}}
{{#required}}
        # verify the required parameter '{{paramName}}' is set
        if {{paramName}} is None:
            raise ApiException("Missing the required parameter `{{paramName}}` when calling `{{classname}}->{{operationId}}`")
{{/required}}
{{/allParams}}

        local_api_request = ApiRequest("{{httpMethod}}", self.base_path, "{{{path}}}")
{{#pathParams}}
        if {{paramName}} is not None:
            local_api_request.add_path_parameter("{{baseName}}", {{paramName}})  # path parameter
{{/pathParams}}
{{#hardcodedQueryParams}}
        local_api_request.add_query_parameter("{{baseName}}", "{{{hardcodedValue}}}")  # hardcoded query parameter
{{/hardcodedQueryParams}}
{{#queryParams}}
        if {{paramName}} is not None:
            local_api_request.add_query_parameter("{{baseName}}", {{paramName}})  # query parameter
{{/queryParams}}
{{#patternQueryParams}}
        if {{paramName}} is not None:
            local_api_request.add_pattern_query_parameter({{paramName}}, "{{{pattern}}}")  # pattern query parameter
{{/patternQueryParams}}
{{#headerParams}}
        if {{paramName}} is not None:
            local_api_request.add_header_parameter("{{baseName}}", {{paramName}})  # header parameter
{{/headerParams}}
{{#bodyParam}}
        local_api_request.add_body_parameter({{#consumes}}"{{{mediaType}}}"{{/consumes}}, {{paramName}})  # body parameter
{{/bodyParam}}
        return local_api_request

    {{#asyncio}}async {{/asyncio}}def {{operationId}}(self{{#allParams}}, {{paramName}}: {{{dataType}}}{{^required}} = None{{/required}}{{/allParams}}) -> {{returnType}}:
        """{{#summary}}{{{.}}}{{/summary}}{{^summary}}{{operationId}}{{/summary}}

{{#isObsolete}}
        {{obsoleteMessage}}
{{/isObsolete}}
{{#notes}}
        {{{notes}}}
{{/notes}}

{{#allParams}}
        :param {{dataType}} {{paramName}}:{{#description}} {{{description}}}{{/description}}{{#required}} (required){{/required}}{{^required}}(optional{{#defaultValue}}, defaults to {{.}}{{/defaultValue}}){{/required}}
{{/allParams}}
        :return: {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}None{{/returnType}}
        """
        {{#isObsolete}}warnings.warn("{{obsoleteMessage}}", DeprecationWarning){{/isObsolete}}
        local_api_request = self.__{{operationId}}_build_request({{#allParams}}{{paramName}}{{#has this 'more'}}, {{/has}}{{/allParams}})
        local_api_call = {{{apiCallClass}}}(self.api_client, local_api_request, "{{operationId}}", "{{itemType}}")
        {{#asyncio}}await {{/asyncio}}local_api_call.execute()
        {{^isEmpty}}return local_api_call.get_result(){{/isEmpty}}
{{/operation}}
{{/operations}}
