{{>licenseInfo}}

package {{package}};

{{#gson}}
import com.google.gson.JsonObject;
{{/gson}}
{{#jackson}}
import com.fasterxml.jackson.databind.node.ObjectNode;
{{/jackson}}

import {{invokerPackage}}.ApiCallback;
import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.Configuration;
import {{invokerPackage}}.ProgressRequestBody;
import {{invokerPackage}}.ProgressResponseBody;

import {{invokerPackage}}.authentication.*;
import {{invokerPackage}}.calls.*;
import {{modelPackage}}.*;
import {{invokerPackage}}.requests.*;
import {{invokerPackage}}.responses.*;

import com.google.common.reflect.TypeToken;

import java.io.IOException;

import java.lang.reflect.Type;
import java.math.BigDecimal;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

{{#operations}}
/**
 * Api methods for {{classname}}.
 */
public class {{classname}} extends ApiBase {

  /**
   * {{classname}} constructor.
   * @param basePath the base path
   * @throws ApiException api exception
   */
  public {{classname}}(String basePath) throws ApiException {
    super(basePath, null);
  }

  /**
   * {{classname}} constructor.
   * @param basePath the base path
   * @param configuration the configuration
   * @throws ApiException api exception
   */
  public {{classname}}(String basePath, Configuration configuration) throws ApiException {
    super(basePath, configuration);
  }

  {{#operation}}
  /**
   * Build call for {{operationId}}{{#allParams}}
   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, defaults to {{{.}}}{{/defaultValue}}){{/required}}{{/allParams}}
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
    {{#externalDocs}}
   * {{description}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
    {{/externalDocs}}
    {{#isObsolete}}
   * @deprecated {{obsoleteMessage}}{{/isObsolete}}
   */
  {{#isObsolete}}@Deprecated{{/isObsolete}}
  private ApiRequest {{operationId}}BuildRequest({{#allParams}}{{{dataType}}} {{paramName}}, {{/allParams}}final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException
  {
    {{#allParams}}{{#required}}{{#canBeNull}}
    // verify the required parameter '{{paramName}}' is set
    if ({{paramName}} == null) {
      throw new ApiException("Missing the required parameter '{{paramName}}' when calling {{classname}}->{{operationId}}");
    }
    {{/canBeNull}}{{/required}}{{/allParams}}

    ApiRequest __ApiRequest = new ApiRequest("{{httpMethod}}", _basePath, "{{{path}}}", _apiClient.getConfiguration().getAuthenticationProvider(), progressListener, progressRequestListener);
    {{#pathParams}}
    {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.addPathParameter("{{baseName}}", {{paramName}}); // path parameter
    {{/pathParams}}
    {{#hardcodedQueryParams}}
    __ApiRequest.addQueryParameter("{{baseName}}", "{{{hardcodedValue}}}"); // hardcoded query parameter
    {{/hardcodedQueryParams}}
    {{#queryParams}}
    {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.addQueryParameter("{{baseName}}", {{paramName}}{{#nuxxable}}.Value{{/nuxxable}}); // query parameter
    {{/queryParams}}
    {{#patternQueryParams}}
    {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.addPatternQueryParameter({{paramName}}, "{{{pattern}}}"); // pattern query parameter
    {{/patternQueryParams}}
    {{#headerParams}}
    {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.addHeaderParameter("{{baseName}}", {{paramName}}); // header parameter
    {{/headerParams}}
    {{#bodyParam}}
    {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.addBodyParameter({{#consumes}}"{{{mediaType}}}"{{/consumes}}, {{paramName}}); // body parameter
    {{/bodyParam}}
    return __ApiRequest;
  }

  /**
   * {{summary}}
   * {{notes}}{{#allParams}}
   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, defaults to {{{.}}}{{/defaultValue}}){{/required}}{{/allParams}}{{#returnType}}
   * @return {{returnType}}{{/returnType}}
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
    {{#externalDocs}}
   * {{description}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
    {{/externalDocs}}
   {{#isObsolete}}
   * @deprecated {{obsoleteMessage}}{{/isObsolete}}
   */
  {{#isObsolete}}@Deprecated{{/isObsolete}}
  public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#has this 'more'}}, {{/has}}{{/allParams}}) throws ApiException
  {
    ApiRequest __ApiRequest = {{operationId}}BuildRequest({{#allParams}}{{paramName}}, {{/allParams}}null, null);
    Type __ReturnType = new TypeToken<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}>(){}.getType();
    {{{apiCallClass}}} __ApiCall = new {{{apiCallClass}}}(_apiClient, __ApiRequest, "{{operationId}}", __ReturnType);
    __ApiCall.execute();
    {{^isEmpty}}return __ApiCall.getResult();{{/isEmpty}}
  }
  {{/operation}}
}
{{/operations}}