{{>licenseInfo}}

package {{invokerPackage}}.calls;

import com.google.gson.JsonObject;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.JSON;

import java.lang.reflect.Type;
import java.util.Iterator;
import java.util.NoSuchElementException;
import java.util.concurrent.BlockingQueue;

/**
 * Streamed Api iterator class.
 */
public class StreamedApiIterator<T> implements Iterator<T> {
  private final String ERROR_FIELD = "__error__";
  private final String STATUS_FIELD = "status";
  private final ApiCallStreamed<T, ?> _apiCall;
  private final BlockingQueue<JsonObject> _results;
  private final Type _returnType;

  private JsonObject _current;
  private boolean _atEnd;

  /**
   * Streamed api constructor
   * @param apiCall the api call
   * @param results the results queue
   * @param returnType the return type
   */
  public StreamedApiIterator(ApiCallStreamed<T, ?> apiCall, BlockingQueue<JsonObject> results, Type returnType) {
    _apiCall = apiCall;
    _results = results;
    _returnType = returnType;
    _current = null;
    _atEnd = false;
  }

  /**
   * Returns whether there is another item in the sequence or not
   * @return whether there is another item in the sequence or not
   */
  @Override
  public boolean hasNext() {
    if (_atEnd)
      return false;
    if (_current != null)
      return true;
    try {
      _current = _results.take();
    } catch (InterruptedException e) {
      return false;
    }
    if (ApiCallStreamed.POISON.equals(_current)) {
      _atEnd = true;
      return false;
    }
    return true;
  }

  /**
   * Returns the next item in the sequence
   * @return the next item in the sequence
   * @deprecated This method throws RuntimeException in case of error. Use nextChecked() which throws ApiException.
   */
  @Override
  @Deprecated
  public T next() {
    try {
      return nextChecked();
    } catch (ApiException e) {
      throw new RuntimeException(e);
    }
  }

  /**
   * Returns the next item in the sequence
   * @return the next item in the sequence
   * @throws ApiException an api exception
   */
  public T nextChecked() throws ApiException {
    if (!hasNext())
      throw new NoSuchElementException();

    T ret;

    if (!_current.keySet().contains(ERROR_FIELD)) {
      ret = JSON.parse(_current, _returnType);
      _current = null;
      return ret;
    }

    if (_current.get(ERROR_FIELD).isJsonPrimitive() && _current.get(ERROR_FIELD).getAsJsonPrimitive().isBoolean()) {
      if (_current.get(ERROR_FIELD).getAsBoolean()) {
        if (_current.get(STATUS_FIELD).isJsonPrimitive() && _current.get(STATUS_FIELD).getAsJsonPrimitive().isNumber()) {
          throw new ApiException(_current.toString(), _apiCall, _current.get(STATUS_FIELD).getAsInt());
        } else {
          throw new ApiException("An error object with an invalid " + STATUS_FIELD + " field has been produced: " + _current.toString(), _apiCall);
        }
      } else {
        ret = JSON.parse(_current, _returnType);
        _current = null;
        return ret;
      }
    } else {
      throw new ApiException("An object with an invalid " + ERROR_FIELD + " field has been produced: " + _current.toString(), _apiCall);
    }
  }
}