{{>partial_header}}

using System.Threading.Tasks;
using {{packageName}}.Client.Requests;
using {{packageName}}.Client.Responses;
using {{packageName}}.Model;

namespace {{packageName}}.Client.Calls
{
  /// <summary>
  ///   API Request
  /// </summary>
  public class ApiCallObjectList<T> : ApiCallStreamed<T>
  {
    public ApiCallObjectList(ApiClient apiClient, ApiRequest apiRequest, string apiMethodName) : base(apiClient,
      apiRequest, apiMethodName)
    {
    }

    public ISequence<T> Result { get; private set; }

    internal override void Execute()
    {
      base.Execute();
      Result = new MaterializedSequence<T>(enumerator, metadata);
    }

#pragma warning disable 1998
    internal override async Task ExecuteAsync()
#pragma warning restore 1998
    {
      Execute();
    }
  }
}