{{>partial_header}}

using System.Threading.Tasks;
using {{packageName}}.Client.Requests;
using {{packageName}}.Client.Responses;
using {{packageName}}.Model;

namespace {{packageName}}.Client.Calls
{
  /// <summary>
  ///   API Request
  /// </summary>
  public class ApiCallObjectStream<T> : ApiCallStreamed<T>
  {
    public ApiCallObjectStream(ApiClient apiClient, ApiRequest apiRequest, string apiMethodName) : base(apiClient,
      apiRequest, apiMethodName)
    {
    }

    public IStream<T> Result { get; private set; }

    internal override void Execute()
    {
      base.Execute();
      Result = new StreamedSequence<T>(enumerator, metadata);
    }

    internal override async Task ExecuteAsync()
    {
      await base.ExecuteAsync();
      Result = new StreamedSequence<T>(enumerator, metadata);
    }
  }
}