{{>partial_header}}

using System;
using System.Threading;
using System.Threading.Tasks;
using {{packageName}}.Client.Requests;
using {{packageName}}.Client.Responses;
using Newtonsoft.Json;
using Newtonsoft.Json.Linq;

namespace {{packageName}}.Client.Calls
{
  /// <summary>
  ///   API Request
  /// </summary>
  public class ApiCallSingleton<T> : ApiCall
  {
    public ApiCallSingleton(ApiClient apiClient, ApiRequest apiRequest, string apiMethodName) : base(apiClient,
      apiRequest, apiMethodName)
    {
    }

    #region Properties, Fields

    /// <summary>
    ///   Returns the result
    /// </summary>
    /// <value>The result.</value>
    public T Result { get; private set; }

    #endregion

    /// <summary>
    ///   Executes the API call synchronously
    /// </summary>
    internal override void Execute()
    {
      var currentRetry = 0;
      for (;;)
      {
        var requestTime = DateTime.Now;
        var response = ApiClient.Execute(ApiRequest);
        ApiResponse = new ApiResponse(response, requestTime);

        if (HasRetryableError(ApiRequest, ApiResponse) &&
            ++currentRetry <= ApiClient.Configuration.RetryCount)
        {
          Thread.Sleep(Delay(currentRetry));
          continue;
        }

        CheckResponseStatus(ApiResponse);
        ProcessResponse(ApiResponse);

        return;
      }
    }

    internal override async Task ExecuteAsync()
    {
      var currentRetry = 0;
      for (;;)
      {
        var requestTime = DateTime.Now;
        var response = await ApiClient.ExecuteAsync(ApiRequest);
        ApiResponse = new ApiResponse(response, requestTime);

        if (HasRetryableError(ApiRequest, ApiResponse) &&
            ++currentRetry <= ApiClient.Configuration.RetryCount)
        {
          await Task.Delay(Delay(currentRetry));
          continue;
        }

        CheckResponseStatus(ApiResponse);
        ProcessResponse(ApiResponse);

        return;
      }
    }

    private void ProcessResponse(ApiResponse response)
    {
      try
      {
        var type = typeof(T);
        if (type == typeof(byte[]))
        {
          Result = (T) (object) response.RawBytes;
        }
        else if (type == typeof(string))
        {
          Result = (T) (object) response.Content;
        }
        else if (type == typeof(JObject))
        {
          var serializerSettings = new JsonSerializerSettings
            {ConstructorHandling = ConstructorHandling.AllowNonPublicDefaultConstructor};
          Result = (T) JsonConvert.DeserializeObject(response.Content, type, serializerSettings);
        }
        else
        {
          throw new ApiException("Unsupported deserialization type " + type.FullName);
        }
      }
      catch (Exception e)
      {
        throw new ApiException(e.ToString(), this);
      }
    }
  }
}