{{>partial_header}}

using System.Collections;
using System.Collections.Generic;
using {{packageName}}.Model;
using Newtonsoft.Json.Linq;

namespace {{packageName}}.Client.Calls
{
  public class StreamedApiEnumerator<T> : IEnumerator<T>
  {
    private const string ERROR_FIELD = "__error__";
    private const string STATUS_FIELD = "status";
    private readonly ApiCallStreamed<T> _apiCall;
    private readonly IEnumerator<JObject> _rawEnumerator;

    public StreamedApiEnumerator(ApiCallStreamed<T> apiCall)
    {
      _apiCall = apiCall;
      _rawEnumerator = apiCall.resultObjects.GetConsumingEnumerable().GetEnumerator();
    }

    public bool MoveNext()
    {
      if (!_rawEnumerator.MoveNext())
        return false;

      if (_rawEnumerator.Current == null)
        throw new ApiException("A null object has been produced", _apiCall);

      if (_rawEnumerator.Current.Property(ERROR_FIELD) == null)
      {
        Current = Data.Parse<T>(_rawEnumerator.Current);
        return true;
      }

      if (_rawEnumerator.Current.Property(ERROR_FIELD).Value.Type != JTokenType.Boolean)
        throw new ApiException("An object with an invalid " + ERROR_FIELD + " field has been produced", _apiCall);

      var isError = _rawEnumerator.Current.Property(ERROR_FIELD).Value.Value<bool>();

      if (isError)
      {
        if (_rawEnumerator.Current.Property(STATUS_FIELD) != null &&
            _rawEnumerator.Current.Property(STATUS_FIELD).Value.Type == JTokenType.Integer)
          throw new ApiException(_rawEnumerator.Current.ToString(), _apiCall, _rawEnumerator.Current.Property(STATUS_FIELD).Value.Value<int>());
        throw new ApiException(_rawEnumerator.Current.ToString(), _apiCall);
      }

      return true;
    }

    public void Reset()
    {
      throw new ApiException("Streaming iterators cannot be reset.");
    }

    public T Current { get; private set; }
    object IEnumerator.Current => Current;

    public void Dispose()
    {
      _apiCall.Abort(false);
    }
  }
}