{{>partial_header}}
import abc
import collections.abc
from abc import ABC, abstractmethod
from contextlib import AbstractContextManager
from types import TracebackType
from typing import TypeVar, Generic, overload, Sequence, Iterator, Any, Type, Union, Optional, Generator

from {{packageName}}.client.api_exception import ApiException
from {{packageName}}.client.api_response import ApiResponse

T = TypeVar('T')


class ISequence(collections.abc.Sequence[T], Generic[T], ABC):
    @abc.abstractmethod
    def get_metadata(self) -> dict[str, Any]:
        pass


class IStreamedSequence(AbstractContextManager, collections.abc.Iterable[T], Generic[T], ABC):
    @abc.abstractmethod
    def get_metadata(self) -> dict[str, Any]:
        pass


class MaterializedSequence(ISequence[T], Generic[T]):
    @overload
    @abstractmethod
    def __getitem__(self, i: int) -> T: ...

    @overload
    @abstractmethod
    def __getitem__(self, s: slice) -> Sequence[T]: ...

    def __getitem__(self, i: int) -> T:
        return self.__list.__getitem__(i)

    def __len__(self) -> int:
        return self.__list.__len__()

    def get_metadata(self) -> dict[str, Any]:
        return self.__metadata

    def __init__(self, iterator: Iterator[T], metadata: dict[str, Any]):
        self.__list = [*iterator]
        self.__metadata = metadata


class StreamedSequence(IStreamedSequence[T], Generic[T]):
    def __init__(self, api_response: ApiResponse, generator: Generator[T, None, None], metadata: dict[str, Any]):
        self.__api_response = api_response
        self.__generator = generator
        self.__metadata = metadata
        self.__iterator_returned = False

    def get_metadata(self) -> dict[str, Any]:
        return self.__metadata

    def __iter__(self) -> Iterator[T]:
        if self.__iterator_returned:
            raise ApiException("It is forbidden to retrieve an iterator multiple times for the same request")
        return self.__generator.__iter__()

    def iter(self) -> Iterator[T]:
        if self.__iterator_returned:
            raise ApiException("It is forbidden to retrieve an iterator multiple times for the same request")
        return self.__generator.__iter__()

    def __enter__(self):
        return self

    def __exit__(self, exc_type, exc_value, traceback):
        try:
            self.__api_response.close()
        except Exception:
            pass
        finally:
            return None
