"""
{{#appName}}
    {{{appName}}}
{{/appName}}

{{#appDescription}}
    {{{appDescription}}}  # noqa: E501
{{/appDescription}}

    {{#version}}OpenAPI spec version: {{{version}}}{{/version}}
    {{#infoEmail}}Contact: {{{infoEmail}}}{{/infoEmail}}
"""
