{{>partial_header}}

from setuptools import setup, find_packages  # noqa: H301

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
{{#apiInfo}}
{{#apis}}
{{^hasMore}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = ["certifi >= 2020.12.5", "urllib3 >= 1.26.4", "ijson >= 3.1.4", "psutil >= 5.8.0"]
{{#asyncio}}
REQUIRES.append("aiohttp >= 3.7.4.post0")
REQUIRES.append("aiodns >= 2.0.0")
{{/asyncio}}

setup(
    name=NAME,
    version=VERSION,
    description="{{appName}}",
    author_email="{{infoEmail}}",
    url="{{packageUrl}}",
    keywords=["Swagger", "{{appName}}"],
    install_requires=REQUIRES,
    packages=find_packages(),
    include_package_data=True,
    long_description="""\
    {{appDescription}}  # noqa: E501
    """
)
{{/hasMore}}
{{/apis}}
{{/apiInfo}}
