{{>partial_header}}
from asyncio import StreamReader
from datetime import datetime

import aiohttp
from urllib3 import HTTPResponse


class ApiResponse:

    def __init__(self, response: aiohttp.ClientResponse, request_time: datetime):
        self.__response = response
        self.__request_time = request_time
        self.__response_time = datetime.now()

    def response(self) -> aiohttp.ClientResponse:
        return self.__response

    def code(self) -> int:
        return self.__response.status

    async def full_body(self) -> bytes:
        return await self.__response.read()

    async def close(self) -> None:
        try:
            await self.__response.__aexit__(None, None, None)
        except Exception:
            pass

    def __str__(self):
        return f"Request Time: {self.__request_time}\n" + \
               f"Response Time: {self.__response_time}\n" + \
               f"Status: {self.__response.status}\n" + \
               "\n".join([f"{name}:{value}" for (name, value) in self.__response.headers.items()])
