{{>partial_header}}
import datetime
import ssl

import certifi
from urllib3 import PoolManager, Timeout, HTTPResponse

from {{packageName}}.client.api_request import ApiRequest
from {{packageName}}.client.api_response import ApiResponse
from {{packageName}}.configuration import Configuration


class ApiClient:
    def __init__(self, configuration=None):
        if configuration is None:
            configuration = Configuration()
        self.configuration = configuration

    def __init_rest_client(self) -> PoolManager:
        if self.configuration.verify_ssl:
            cert_reqs = ssl.CERT_REQUIRED
        else:
            cert_reqs = ssl.CERT_NONE

        pool_manager = PoolManager(
            cert_reqs=cert_reqs,
            ca_certs=certifi.where(),
            timeout=Timeout(read=self.configuration.timeout_ms))
        return pool_manager

    def execute(self, api_request: ApiRequest, api_method_name: str, stream=False) -> ApiResponse:
        pool_manager = self.__init_rest_client()
        if self.configuration.authentication_provider is not None:
            self.configuration.authentication_provider.add_authentication(pool_manager, api_request)

        request_time = datetime.datetime.now()
        response = pool_manager.request(method=api_request.method,
                                        url=api_request.compute_url(),
                                        headers=api_request.header_parameters,
                                        fields=api_request.query_parameters,
                                        body=api_request.request_body,
                                        preload_content=not stream)
        api_response = ApiResponse(response, request_time, stream)

        try:
            if self.configuration.authentication_provider is not None:
                self.configuration.authentication_provider.process_response(pool_manager, api_request, api_response)
            return api_response
        except Exception as e:
            if stream:
                api_response.close()
            raise e
