{{>partial_header}}
import decimal
import json
import re
from typing import Union, Any
from urllib.parse import urlencode, quote

from {{packageName}}.client.api_exception import ApiException


class ApiRequest:
    def __init__(self, method: str, base_url: str, path: str):
        self.method = method
        self.base_url = base_url
        self.path = path
        self.request_body = None
        self.path_parameters = {}
        self.header_parameters = {}
        self.query_parameters = []

    def compute_url(self) -> str:
        url = self.path
        if len(self.path_parameters) > 0:
            for (k, v) in self.path_parameters.items():
                url = url.replace("{" + k + "}", quote(v))
        url = re.sub(r'/{[^}]+}', '', url)
        return self.base_url + url

    def float_to_str(self, f: float) -> str:
        ctx = decimal.Context()
        ctx.prec = 30
        d1 = ctx.create_decimal(repr(f))
        return format(d1, 'f')

    def add_path_parameter(self, name: str, value: any) -> None:
        if value is None:
            return
        if isinstance(value, str):
            self.path_parameters[name] = value
        elif isinstance(value, float):
            self.path_parameters[name] = self.float_to_str(value)
        elif isinstance(value, bool):
            self.path_parameters[name] = "true" if bool(value) else "false"
        else:
            self.path_parameters[name] = str(value)

    def add_query_parameter(self, name: str, value: any) -> None:
        if value is None:
            return
        if isinstance(value, str):
            self.query_parameters.append((name, value))
        elif isinstance(value, float):
            self.query_parameters.append((name, self.float_to_str(value)))
        elif isinstance(value, bool):
            self.query_parameters.append((name, "true" if bool(value) else "false"))
        elif isinstance(value, (list, tuple)):
            for innerValue in value:
                self.add_query_parameter(name, innerValue)
        else:
            self.query_parameters.append((name, str(value)))

    def add_pattern_query_parameter(self, parameters: dict[str, any], pattern: str) -> None:
        if parameters is None:
            return
        if not isinstance(parameters, dict):
            raise ApiException(f"Invalid pattern query parameter, must be dict.")
        regex = re.compile(pattern)
        for name, value in parameters.items():
            if not isinstance(name, str):
                raise ApiException(f"Invalid pattern parameter, all arguments names must be str.")
            if regex.match(name):
                self.add_query_parameter(name, value)
            else:
                raise ApiException(f"Invalid parameter {name}, parameter name must match the regular expression {pattern}")

    def add_header_parameter(self, name: str, value: str) -> None:
        if value is None:
            return
        self.header_parameters[name] = value

    def add_body_parameter(self, content_type: str, value: Union[str, bytes, dict[str, Any]]) -> None:
        self.header_parameters["Content-Type"] = content_type

        if value is None:
            return

        if isinstance(value, (bytes, bytearray)):
            self.request_body = value
        elif isinstance(value, str):
            self.request_body = bytes(value, 'utf-8')  # force utf-8
        elif isinstance(value, dict):
            self.request_body = bytes(json.dumps(value), 'utf-8')  # force utf-8
        else:
            raise ApiException(f"Invalid body parameter, value must be bytes, bytearray, str or dict[str, Any].")

    def __str__(self):
        return f"{self.method} {self.compute_url()}" + \
               ('?' + urlencode(self.query_parameters) if len(self.query_parameters) > 0 else "") + \
               "\n".join([f"{name}:{value}" for name, value in self.header_parameters])
