{{>partial_header}}

using System;
using System.Globalization;
using System.Net;
using System.Text;
using RestSharp;

namespace {{packageName}}.Client.Responses
{
  /// <summary>
  ///   API Response
  /// </summary>
  public class ApiResponse
  {
    /// <summary>
    ///   Encapsulated response
    /// </summary>
    protected IHttpResponse httpResponse;

    /// <summary>
    ///   Encapsulated response
    /// </summary>
    protected IRestResponse restResponse;

    /// <summary>
    ///   Initializes a new instance of the <see cref="ApiResponse&lt;T&gt;" /> class.
    /// </summary>
    /// <param name="response">Response.</param>
    /// <param name="requestTime">Request time.</param>
    public ApiResponse(IRestResponse response, DateTime requestTime)
    {
      restResponse = response;
      RequestTime = requestTime;
      ResponseTime = DateTime.Now;
    }

    /// <summary>
    ///   Initializes a new instance of the <see cref="ApiResponse&lt;T&gt;" /> class.
    /// </summary>
    /// <param name="response">Response.</param>
    /// <param name="requestTime">Request time.</param>
    public ApiResponse(IHttpResponse response, DateTime requestTime)
    {
      httpResponse = response;
      RequestTime = requestTime;
      ResponseTime = DateTime.Now;
    }

    /// <summary>
    ///   The time at which the request was tried
    /// </summary>
    public DateTime RequestTime { get; }

    /// <summary>
    ///   The time at which a response was fully received
    /// </summary>
    public DateTime ResponseTime { get; }

    public HttpStatusCode StatusCode
    {
      get => restResponse?.StatusCode ?? httpResponse.StatusCode;
      internal set
      {
        if (restResponse != null)
          restResponse.StatusCode = value;
        else
          httpResponse.StatusCode = value;
      }
    }

    public string ErrorMessage => restResponse?.ErrorMessage ?? httpResponse?.ErrorMessage;

    public string Content => restResponse?.Content ?? httpResponse?.Content;
    public byte[] RawBytes => restResponse?.RawBytes ?? httpResponse?.RawBytes;

    public Exception ErrorException => restResponse?.ErrorException ?? httpResponse?.ErrorException;

    /// <summary>
    ///   Returns a string representation of the Response
    /// </summary>
    /// <returns>The string representation of the response</returns>
    public override string ToString()
    {
      var sb = new StringBuilder();
      sb.AppendLine("RequestTime: " + RequestTime.ToString("dd/MM/yyyy HH:mm:ss.fff", CultureInfo.InvariantCulture));
      sb.AppendLine("ResponseTime: " + ResponseTime.ToString("dd/MM/yyyy HH:mm:ss.fff", CultureInfo.InvariantCulture));
      if (restResponse != null)
      {
        if (restResponse.ErrorException != null)
        {
          sb.AppendLine("ErrorException: " + restResponse.ErrorException);
          sb.AppendLine("ErrorMessage: " + restResponse.ErrorMessage);
        }
        else
        {
          sb.AppendLine("Status: " + (int) restResponse.StatusCode + " " + restResponse.StatusDescription);
          if (restResponse.Headers != null)
            foreach (var header in restResponse.Headers)
              if (header != null)
                sb.AppendFormat("{0}: {1}\n", header.Name, header.Value);

          /*
          if (!string.IsNullOrEmpty(restResponse.Content))
          {
            if (restResponse.ContentType != null &&
                !restResponse.ContentType.Contains("/xml") &&
                !restResponse.ContentType.Contains("/json") &&
                !restResponse.ContentType.Contains("text/") &&
                !restResponse.ContentType.Contains("/html") &&
                !restResponse.ContentType.Contains("/csv"))
              sb.AppendLine("\n--BINARY-DATA--\n");
            else
              sb.AppendLine("\n" + restResponse.Content + "\n");
          }*/
        }
      }

      if (httpResponse != null)
      {
        if (httpResponse.ErrorException != null)
        {
          sb.AppendLine("ErrorException: " + httpResponse.ErrorException);
          sb.AppendLine("ErrorMessage: " + httpResponse.ErrorMessage);
        }
        else
        {
          sb.AppendLine((int) httpResponse.StatusCode + " " + httpResponse.StatusDescription);
          if (httpResponse.Headers != null)
            foreach (var header in httpResponse.Headers)
              if (header != null)
                sb.AppendFormat("{0}: {1}\n", header.Name, header.Value);

          /*
          if (!string.IsNullOrEmpty(httpResponse.Content))
          {
            if (httpResponse.ContentType != null &&
                !httpResponse.ContentType.Contains("/xml") &&
                !httpResponse.ContentType.Contains("/json") &&
                !httpResponse.ContentType.Contains("text/") &&
                !httpResponse.ContentType.Contains("/html") &&
                !httpResponse.ContentType.Contains("/csv"))
              sb.AppendLine("\n--BINARY-DATA--\n");
            else
              sb.AppendLine("\n" + httpResponse.Content + "\n");
          }
          */
        }
      }

      return sb.ToString();
    }
  }
}