{{>partial_header}}

using System.Collections;
using System.Collections.Generic;
using {{packageName}}.Model;
using Newtonsoft.Json.Linq;

namespace {{packageName}}.Client.Responses
{
  public class StreamedSequence<T> : IStream<T>
  {
    internal IEnumerator<T> _enumerator;
    internal JObject _metadata;

    private bool enumeratorReturned;

    public StreamedSequence(IEnumerator<T> enumerator, JObject metadata)
    {
      _enumerator = enumerator;
      _metadata = metadata;
    }

    public IEnumerator<T> GetEnumerator()
    {
      if (!enumeratorReturned)
      {
        enumeratorReturned = true;
        return _enumerator;
      }

      throw new ApiException("It is forbidden to retrieve an enumerator multiple times for the same request");
    }

    IEnumerator IEnumerable.GetEnumerator()
    {
      return GetEnumerator();
    }

    public JObject Metadata => _metadata;
  }
}