{{>partial_header}}
using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using Newtonsoft.Json.Linq;
using RestSharp;
using {{packageName}}.Client;
using {{packageName}}.Client.Calls;
using {{packageName}}.Client.Requests;
using {{packageName}}.Model;

namespace {{packageName}}.{{apiPackage}}
{
  {{#operations}}
  /// <summary>
  /// Represents a collection of functions to interact with the API endpoints
  /// </summary>
  public class {{classname}}: ApiBase
  {
    /// <summary>
    /// Initializes a new instance of the <see cref="{{classname}}"/> class.
    /// </summary>
    /// <returns></returns>
    public {{classname}}(string basePath, Configuration configuration = null) : base(basePath, configuration)
    {
    }
    {{#operation}}

    /// <summary>
    /// {{summary}} {{notes}}
    /// </summary>
    /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
    {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, defaults to {{.}}{{/defaultValue}}){{/required}}</param>
    {{/allParams}}/// <returns>{{#returnType}}{{returnType}}{{/returnType}}</returns>
    private ApiRequest {{operationId}}BuildRequest({{#allParams}}{{{dataType}}} {{paramName}}{{^required}} = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    {
      {{#allParams}}{{#required}}{{#canBeNull}}
      // verify the required parameter '{{paramName}}' is set
      if ({{paramName}} == null)
        throw new ApiException("Missing required parameter '{{paramName}}' when calling {{classname}}->{{operationId}}");
      {{/canBeNull}}{{/required}}{{/allParams}}

      var __ApiRequest = new ApiRequest(Method.{{httpMethod}}, BasePath, "{{{path}}}");
      {{#pathParams}}
      {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.AddPathParameter("{{baseName}}", {{paramName}}); // path parameter
      {{/pathParams}}
      {{#hardcodedQueryParams}}
      __ApiRequest.AddQueryParameter("{{baseName}}", "{{{hardcodedValue}}}"); // hardcoded query parameter
      {{/hardcodedQueryParams}}
      {{#queryParams}}
      {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.AddQueryParameter("{{baseName}}", {{paramName}}{{#nuxxable}}.Value{{/nuxxable}}); // query parameter
      {{/queryParams}}
      {{#patternQueryParams}}
      {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.AddPatternQueryParameter({{paramName}}, "{{{pattern}}}"); // pattern query parameter
      {{/patternQueryParams}}
      {{#headerParams}}
      {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.AddHeaderParameter("{{baseName}}", {{paramName}}); // header parameter
      {{/headerParams}}
      {{#bodyParam}}
      {{#canBeNull}}if ({{paramName}} != null) {{/canBeNull}}__ApiRequest.AddBodyParameter({{#consumes}}"{{{mediaType}}}"{{/consumes}}, {{paramName}}); // body parameter
      {{/bodyParam}}
      __ApiRequest.Assemble();
      return __ApiRequest;
    }

    /// <summary>
    /// {{summary}} {{notes}}
    /// </summary>
    /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
    {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, defaults to {{.}}{{/defaultValue}}){{/required}}</param>
    {{/allParams}}/// <returns>{{#returnType}}{{returnType}}{{/returnType}}</returns>
    {{#isObsolete}}[Obsolete("{{obsoleteMessage}}")]{{/isObsolete}}
    public {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}} = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    {
      ApiRequest __ApiRequest = {{operationId}}BuildRequest({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
      {{{apiCallClass}}} __ApiCall = new {{{apiCallClass}}}(ApiClient, __ApiRequest, "{{operationId}}");
      __ApiCall.Execute();
      {{^isEmpty}}return __ApiCall.Result;{{/isEmpty}}
    }

    /// <summary>
    /// {{summary}} {{notes}}
    /// </summary>
    /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
    {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>
    {{/allParams}}/// <returns>Task of {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}void{{/returnType}}</returns>
    {{#isObsolete}}[Obsolete("{{obsoleteMessage}}")]{{/isObsolete}}
    {{#returnType}}public async System.Threading.Tasks.Task<{{{returnType}}}>{{/returnType}}{{^returnType}}public async System.Threading.Tasks.Task{{/returnType}} {{operationId}}Async ({{#allParams}}{{{dataType}}} {{paramName}}{{^required}} = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    {
      ApiRequest __ApiRequest = {{operationId}}BuildRequest({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
      {{{apiCallClass}}} __ApiCall = new {{{apiCallClass}}}(ApiClient, __ApiRequest, "{{operationId}}");
      await __ApiCall.ExecuteAsync();
      {{^isEmpty}}return __ApiCall.Result;{{/isEmpty}}
    }
    {{/operation}}
  }
  {{/operations}}
}

