{{>partial_header}}

using System;
using {{packageName}}.Client;

namespace {{packageName}}.Api
{
  public abstract class ApiBase
  {
    private string _basePath;

    public ApiBase(string basePath, Configuration configuration = null)
    {
      BasePath = basePath;
      ApiClient = configuration == null ? new ApiClient(new Configuration()) : new ApiClient(configuration);
    }

    public ApiClient ApiClient { get; }

    /// <summary>
    ///   Gets or sets the Base Path
    /// </summary>
    /// <value>An instance of the Base Path</value>
    public string BasePath
    {
      get => _basePath;
      set
      {
        if (string.IsNullOrEmpty(value))
          throw new ArgumentException("basePath cannot be empty");

        var basePathUri = new Uri(value);
        if (!basePathUri.IsAbsoluteUri)
          throw new ApiException(value + ": invalid basePath. Must be absolute.");

        if (basePathUri.Scheme != Uri.UriSchemeHttp && basePathUri.Scheme != Uri.UriSchemeHttps)
          throw new ApiException(value + ": invalid basePath. Scheme must be http or https.");

        if (!string.IsNullOrEmpty(basePathUri.UserInfo))
          throw new ApiException(value + ": invalid basePath. Cannot contain credentials in the Uri.");

        if (!string.IsNullOrEmpty(basePathUri.Query))
          throw new ApiException(value + ": invalid basePath. Cannot contain query in the Uri.");

        if (!string.IsNullOrEmpty(basePathUri.Fragment))
          throw new ApiException(value + ": invalid basePath. Cannot contain fragment in the Uri.");

        if (basePathUri.Segments == null || basePathUri.Segments.Length != 2)
          throw new ApiException(value + ": invalid basePath. It must contain {{urlSegments}} segments.");
        _basePath = value;
      }
    }
  }
}