{{>licenseInfo}}

package {{invokerPackage}};

import com.sun.management.OperatingSystemMXBean;

import java.lang.management.ManagementFactory;
import java.util.Locale;

/**
 * Diagnostic info class.
 */
public class DiagnosticInfo {

  /**
   * Returns the total physical memory in bytes
   * @return the total physical memory in bytes
   */
  @SuppressWarnings("deprecation")
  public long totalPhysicalMemory() {
    try {
      return ((OperatingSystemMXBean) ManagementFactory.getOperatingSystemMXBean()).getTotalPhysicalMemorySize();
    } catch (Throwable t) {
      return -1 * 1024 * 1024;
    }
  }

  /**
   * Returns the available physical memory in bytes
   * @return the available physical memory in bytes
   */
  @SuppressWarnings("deprecation")
  public long availablePhysicalMemory() {
    try {
      return ((OperatingSystemMXBean) ManagementFactory.getOperatingSystemMXBean()).getFreePhysicalMemorySize();
    } catch (Throwable t) {
      return -1 * 1024 * 1024;
    }
  }

  /**
   * Returns the max memory in bytes
   * @return the max memory in bytes
   */
  public long maxMemory() {
    return Runtime.getRuntime().maxMemory();
  }

  /**
   * Returns the total memory in bytes
   * @return the total memory in bytes
   */
  public long totalMemory() {
    return Runtime.getRuntime().totalMemory();
  }

  /**
   * Returns the free memory in bytes
   * @return the free memory in bytes
   */
  public long freeMemory() {
    return Runtime.getRuntime().freeMemory();
  }

  /**
   * Returns the current culture
   * @return the current culture
   */
  public String currentCulture() {
    return Locale.getDefault().getLanguage();
  }

  /**
   * Returns the current UI culture
   * @return the current UI culture
   */
  public String currentUICulture() {
    return Locale.getDefault().getDisplayLanguage();
  }

  /**
   * Returns the JVM description
   * @return the JVM description
   */
  public String jvmDescription() {
    return "" + System.getProperty("java.vm.name") + " " + System.getProperty("java.vm.version");
  }

  /**
   * Returns the process architecture
   * @return the process architecture
   */
  public String processArchitecture() {
    return "" + System.getProperty("sun.arch.data.model") + "bit";
  }

  /**
   * Returns the os description
   * @return the os description
   */
  public String osDescription() {
    return "" + System.getProperty("os.name") + " " + System.getProperty("os.arch") + " " + System.getProperty("os.version");
  }

  /**
   * Returns a string representation
   * @return a string representation
   */
  public String toString() {
    return "Running Java library version {{{packageVersion}}}, built for the API specification {{{version}}} as a " + processArchitecture() + " process on " + jvmDescription() + " JVM in " + osDescription() + " OS using a " + currentCulture() + " culture.\n" +
           "System has " + totalPhysicalMemory() /1024 /1024 + " MB of RAM in total, of which " + availablePhysicalMemory() /1024 /1024+ " MB are currently free.\n" +
           "Application has an upper limit of " + maxMemory() / 1024 / 1024 + " MB of RAM. Application has currently allocated " + totalMemory() / 1024 / 1024 + " MB of which " + freeMemory() / 1024 / 1024 + " MB are free.";
  }
}