{{>licenseInfo}}

package {{invokerPackage}};

import com.google.common.reflect.TypeToken;
import com.google.gson.*;
import com.google.gson.internal.bind.util.ISO8601Utils;
import com.google.gson.stream.JsonReader;
import com.google.gson.stream.JsonWriter;
import io.gsonfire.GsonFireBuilder;

import java.io.IOException;
import java.io.StringReader;
import java.lang.reflect.Type;
import java.text.DateFormat;
import java.text.ParseException;
import java.text.ParsePosition;
import java.time.LocalDate;
import java.time.OffsetDateTime;
import java.time.format.DateTimeFormatter;
import java.util.Date;
import java.util.Map;

/**
 * JSON-GSON utility class.
 */
public class JSON {
  private Gson _gson;
  public static Type JSON_OBJECT_TYPE = new TypeToken<JsonObject>() {}.getType();

  public JSON() {
    _gson = createGson()
            .serializeNulls()
            .create();
  }

  /**
   * Get Gson.
   *
   * @return Gson
   */
  public Gson getGson() {
    return _gson;
  }

  private static GsonBuilder createGson() {
    GsonFireBuilder fireBuilder = new GsonFireBuilder();
    return fireBuilder.createGsonBuilder();
  }

  /**
   * Serialize the given Java object into JSON string.
   *
   * @param obj Object
   * @return String representation of the JSON
   */
  public String serialize(Object obj) {
    return _gson.toJson(obj);
  }

  /**
   * Deserialize the given JSON string to Java object.
   *
   * @param <T>        Type
   * @param body       The JSON string
   * @param returnType The type to deserialize into
   * @return The deserialized Java object
   */
  @SuppressWarnings("unchecked")
  public <T> T deserialize(String body, Type returnType) {
    try {
      if (body == null || body.isEmpty())
        return null;
      return _gson.fromJson(body, returnType);
    } catch (JsonParseException e) {
      // Fallback processing when failed to parse JSON form response body:
      // return the response body string directly for the String return type;
      if (returnType.equals(String.class))
        return (T) body;
      else throw (e);
    }
  }

  @SuppressWarnings("unchecked")
  public static <T> T parse(JsonObject rawObject, Type returnType) throws ApiException {
    if (returnType.equals(JsonObject.class))
      return (T) rawObject;
    else
      throw new ApiException("Unsupported return type " + returnType.getTypeName());
  }
}
