{{>licenseInfo}}

package {{invokerPackage}};

/**
 * Unit test configuration class.
 */
public class UnitTestConfiguration extends Configuration {
  private boolean _allRequestsHaveRetryableErrors;

  private boolean _nextRequestHasRetryableError;

  private boolean _nextRequestHasReceiveError;

  /**
   * Returns whether all request have retryable errors.
   * @param configuration configuration
   * @return whether all request have retryable errors.
   */
  public static boolean isAllRequestsHaveRetryableErrors(Configuration configuration) {
    return configuration instanceof UnitTestConfiguration && ((UnitTestConfiguration) configuration).isAllRequestsHaveRetryableErrors();
  }

  /**
   * Returns whether all request have retryable errors.
   * @return whether all request have retryable errors.
   */
  public boolean isAllRequestsHaveRetryableErrors() {
    return _allRequestsHaveRetryableErrors;
  }

  /**
   * Sets whether all request have retryable errors.
   * @param allRequestsHaveRetryableErrors whether all request have retryable errors.
   * @return this
   */
  public UnitTestConfiguration setAllRequestsHaveRetryableErrors(boolean allRequestsHaveRetryableErrors) {
    _allRequestsHaveRetryableErrors = allRequestsHaveRetryableErrors;
    return this;
  }

  /**
   * Returns whether the next request has a retryable error
   * @param configuration configuration
   * @return whether the next request has a retryable error
   */
  public static boolean isNextRequestHasRetryableError(Configuration configuration) {
    return configuration instanceof UnitTestConfiguration && ((UnitTestConfiguration) configuration).isNextRequestHasRetryableError();
  }

  /**
   * Returns whether the next request has a retryable error
   * @return whether the next request has a retryable error
   */
  public boolean isNextRequestHasRetryableError() {
    return _nextRequestHasRetryableError;
  }

  /**
   * Sets whether the next request has a retryable error
   * @param nextRequestHasRetryableError whether the next request has a retryable error
   * @return this
   */
  public UnitTestConfiguration setNextRequestHasRetryableError(boolean nextRequestHasRetryableError) {
    _nextRequestHasRetryableError = nextRequestHasRetryableError;
    return this;
  }

  /**
   * Returns whether the next request has a receive error
   * @param configuration configuration
   * @return whether the next request has a receive error
   */
  public static boolean isNextRequestHasReceiveError(Configuration configuration) {
    return configuration instanceof UnitTestConfiguration && ((UnitTestConfiguration) configuration).isNextRequestHasReceiveError();
  }

  /**
   * Returns whether the next request has a receive error
   * @return whether the next request has a receive error
   */
  public boolean isNextRequestHasReceiveError() {
    return _nextRequestHasReceiveError;
  }

  /**
   * Sets whether the next request has a receive error
   * @param nextRequestHasReceiveError whether the next request has a receive error
   * @return this
   */
  public UnitTestConfiguration setNextRequestHasReceiveError(boolean nextRequestHasReceiveError) {
    _nextRequestHasReceiveError = nextRequestHasReceiveError;
    return this;
  }
}