{{>partial_header}}

using System;
using System.Xml.Serialization;
using {{packageName}}.Client.Requests;
using RestSharp;

namespace {{packageName}}.Client.Authentication
{
  [XmlInclude(typeof(Unauthenticated))]
  [Serializable()]
  public abstract class AuthenticationProvider
  {
    public abstract void AddAuthentication(RestClient restClient, ApiRequest apiRequest);

    public abstract void ProcessResponse(RestClient restClient, ApiRequest apiRequest, IRestResponse response);
  }
}
