{{>partial_header}}

using System;
using {{packageName}}.Client.Requests;
using RestSharp;

namespace {{packageName}}.Client.Authentication
{
  [Serializable()]
  public class Unauthenticated : AuthenticationProvider
  {
    public override void AddAuthentication(RestClient restClient, ApiRequest apiRequest)
    {
    }

    public override void ProcessResponse(RestClient restClient, ApiRequest apiRequest, IRestResponse response)
    {
    }

    public override int GetHashCode() => 0;

    public override bool Equals(object obj)
    {
        return !(obj as Unauthenticated is null);
    }

    public override string ToString() {
      return "No Authentication";
    }
  }
}
