{{>licenseInfo}}

package {{modelPackage}};

{{#gson}}
import com.google.gson.JsonObject;
{{/gson}}
{{#jackson}}
import com.fasterxml.jackson.databind.ObjectNode;
{{/jackson}}

import com.google.common.reflect.TypeToken;
import {{invokerPackage}}.ApiException;

import java.lang.reflect.Type;

/**
* Raw JSON deserialization.
*/
public class Data {
  public static <T> T parse({{#gson}}JsonObject{{/gson}}{{#jackson}}ObjectNode{{/jackson}} rawObject, Type returnType) throws ApiException {
    if (returnType.equals({{#gson}}JsonObject{{/gson}}{{#jackson}}ObjectNode{{/jackson}}.class))
      return (T) rawObject;
    else
      throw new ApiException("Unsupported return type " + returnType.getTypeName());
  }
}
