{{>licenseInfo}}

package {{modelPackage}};

import java.util.Collection;

/**
* Represents a sequence of items of type T.
* The type of the metadata is U.
* @param <T> The type of the objects.
* @param <U> The type of the metadata.
*/
public interface ISequence<T, U> extends Collection<T> {
  U getMetadata();
}
