{{>partial_header}}
import sys

from {{packageName}}.client.api_authentication import Unauthenticated


class Configuration:
    def __init__(self, timeout_ms=60 * 60 * 1000, verbose_exceptions=True, verify_ssl=True, authentication_provider=Unauthenticated()):
        self.timeout_ms = timeout_ms
        self.verbose_exceptions = verbose_exceptions
        self.verify_ssl = verify_ssl
        self.authentication_provider = authentication_provider

    def __str__(self):
        return f"Timeout (ms): {self.timeout_ms}\n" + \
               f"Verbose Exceptions: {self.verbose_exceptions}\n" + \
               f"Verify SSL: {self.verify_ssl}\n" + \
               f"Authentication Provider: {str(self.authentication_provider)}\n"

